.history-panel-sessions {
  display: grid;
  grid-template-columns: 100px auto auto auto auto;
}

.import-label {
  cursor: pointer;
}

#upload-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
