.history-panel-sessions {
  display: grid;
  grid-template-columns: 100px auto auto auto auto;
}

.history-panel-buttons {
  padding-top: 10px;

  font-size: 1em;
  font-family: sans-serif;
}

.delete-history-button {
  float: right;
}

.history-panel-buttons > .import-label {
  cursor: pointer;
  font-weight: 800;
  font-size: 10pt;
  white-space: nowrap;
  padding: 5px;
  margin-left: 4px;
  min-height: 53px;
}

#upload-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
