.add-drink, .drinks, .stats {
    padding-top: 15px;
}

.add-drink-button {
    padding-top: 5px;
}

.active-session-buttons {
    padding-top: 15px;

    button {
        margin-right: 6px;
    }
}

.active-session-field-value {
    margin-left: 10px;
}

.active-session-warning {
    color: red;
}

.active-session-warning-icon {
    margin-left: 5px;
    cursor: default;
}