.settings-container {
  width:50%;
  min-width: 160px;
}

.settings-input {
  padding: 8px;
}

.settings-label {
  padding-bottom: 2px;
}

.settings-buttons {
  display: flex;

  .btn {
    margin-right: 5px;
    white-space: nowrap;
  }
}